push.bat
TestResult.xml
obj
bin
deploy
deploy/*
.idea/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
*.orig
.sass-cache
/Pathways.5.1.TeamCity.user
/src/Pathways/Output
combined_*.js

Rakefile.cg
.idea
/src/Pathways/Bin/AjaxMin.dll
/src/Pathways/Bin/AsyncCtpLibrary.dll
/src/Pathways/Bin/Castle.Core.dll
/src/Pathways/Bin/Castle.Core.pdb
/src/Pathways/Bin/Castle.Core.xml
/src/Pathways/Bin/Castle.Facilities.Logging.dll
/src/Pathways/Bin/Castle.Facilities.Logging.pdb
/src/Pathways/Bin/Castle.Facilities.Logging.xml
/src/Pathways/Bin/Castle.Services.Logging.Log4netIntegration.dll
/src/Pathways/Bin/Castle.Services.Logging.Log4netIntegration.pdb
/src/Pathways/Bin/Castle.Windsor.Lifestyles.dll
/src/Pathways/Bin/Castle.Windsor.Lifestyles.pdb
/src/Pathways/Bin/Castle.Windsor.dll
/src/Pathways/Bin/Castle.Windsor.pdb
/src/Pathways/Bin/Castle.Windsor.xml
/src/Pathways/Bin/EcmaScript.NET.modified.dll
/src/Pathways/Bin/Elmah.dll
/src/Pathways/Bin/Elmah.pdb
/src/Pathways/Bin/Elmah.xml
/src/Pathways/Bin/Esent.Interop.dll
/src/Pathways/Bin/Esent.Interop.pdb
/src/Pathways/Bin/Esent.Interop.xml
/src/Pathways/Bin/Exceptioneer.WebClient.dll
/src/Pathways/Bin/Fasterflect.dll
/src/Pathways/Bin/GleamTech.FileUltimate.dll
/src/Pathways/Bin/GrammarParser.dll
/src/Pathways/Bin/GrammarParser.pdb
/src/Pathways/Bin/ICSharpCode.NRefactory.dll
/src/Pathways/Bin/Lucene.Net.dll
/src/Pathways/Bin/Lucene.Net.pdb
/src/Pathways/Bin/Lucene.Net.xml
/src/Pathways/Bin/Machine.Specifications.dll
/src/Pathways/Bin/Machine.Specifications.pdb
/src/Pathways/Bin/Mono.Posix.dll
/src/Pathways/Bin/Newtonsoft.Json.dll
/src/Pathways/Bin/Newtonsoft.Json.pdb
/src/Pathways/Bin/Newtonsoft.Json.xml
/src/Pathways/Bin/OpenFileSystem.dll
/src/Pathways/Bin/OpenFileSystem.pdb
/src/Pathways/Bin/Pathways.dll
/src/Pathways/Bin/Pathways.pdb
/src/Pathways/Bin/Performance.dll
/src/Pathways/Bin/Performance.pdb
/src/Pathways/Bin/Ploeh.AutoFixture.dll
/src/Pathways/Bin/Ploeh.AutoFixture.xml
/src/Pathways/Bin/Raven.Abstractions.dll
/src/Pathways/Bin/Raven.Abstractions.pdb
/src/Pathways/Bin/Raven.Client.Embedded.dll
/src/Pathways/Bin/Raven.Client.Embedded.pdb
/src/Pathways/Bin/Raven.Client.Embedded.xml
/src/Pathways/Bin/Raven.Client.Lightweight.dll
/src/Pathways/Bin/Raven.Client.Lightweight.pdb
/src/Pathways/Bin/Raven.Client.Lightweight.xml
/src/Pathways/Bin/Raven.Database.dll
/src/Pathways/Bin/Raven.Database.pdb
/src/Pathways/Bin/Raven.Http.dll
/src/Pathways/Bin/Raven.Http.pdb
/src/Pathways/Bin/Raven.Munin.dll
/src/Pathways/Bin/Raven.Munin.pdb
/src/Pathways/Bin/Raven.Storage.Managed.dll
/src/Pathways/Bin/Raven.Storage.Managed.pdb
/src/Pathways/Bin/Snooze.dll
/src/Pathways/Bin/Snooze.pdb
/src/Pathways/Bin/Spark.Web.Mvc.dll
/src/Pathways/Bin/Spark.Web.Mvc.pdb
/src/Pathways/Bin/Spark.dll
/src/Pathways/Bin/Spark.pdb
/src/Pathways/Bin/Spatial.Net.dll
/src/Pathways/Bin/SpellChecker.Net.dll
/src/Pathways/Bin/SpellChecker.Net.xml
/src/Pathways/Bin/SquishIt.Framework.dll
/src/Pathways/Bin/SquishIt.Framework.pdb
/src/Pathways/Bin/System.Data.SQLite.dll
/src/Pathways/Bin/Tjoc.Web.Validator.dll
/src/Pathways/Bin/Tjoc.Web.Validator.pdb
/src/Pathways/Bin/VistaDB.NET20.dll
/src/Pathways/Bin/Yahoo.Yui.Compressor.dll
/src/Pathways/Bin/dotless.Core.dll
/src/Pathways/Bin/dotless.Core.pdb
/src/Pathways/Bin/log4net.dll
/src/Pathways/Bin/log4net.xml
/src/Pathways/Bin/mxgraph.dll
/src/Pathways/Bin/mxgraph.pdb
/src/Pathways/Bin/nVentive.Umbrella.dll
/src/Pathways/Bin/nVentive.Umbrella.pdb
/src/Pathways/Bin/InstallUtil.InstallLog
/src/Pathways/Bin/performance.InstallLog
/src/Pathways/Bin/performance.InstallState
/src/Pathways/Bin/Logging.dll
/src/Pathways/Bin/Logging.pdb
/src/Pathways/Bin/MarkupProcessor.dll
/src/Pathways/Bin/MarkupProcessor.pdb
/src/Pathways/Bin/MvcContrib.TestHelper.dll
/src/Pathways/Bin/MvcContrib.TestHelper.pdb
/src/Pathways/Bin/MvcContrib.TestHelper.xml
/src/Pathways/Bin/MvcContrib.dll
/src/Pathways/Bin/MvcContrib.pdb
/src/Pathways/Bin/MvcContrib.xml
/src/Pathways/Bin/Rhino.Mocks.dll
/src/Pathways/Bin/Rhino.Mocks.xml
/src/Pathways/Bin/Castle.MonoRail.Views.Spark.dll
/src/Pathways/Bin/Castle.MonoRail.Views.Spark.pdb